include LICENSE
include README.md
include CHANGELOG.md
include requirements/pypi.txt
include src/sbk/wordlist/*.txt
include src/sbk/assets/*.svg
include src/sbk/assets/*.png
include src/sbk/assets/*.pdf
