[Desktop Entry]
Type=Application
Name=Region & Language
GenericName=Region & Language
Comment=Gnome Region & Language Settings
Exec=/usr/bin/gnome-control-center region
Path=/usr/bin/
Icon=/usr/share/icons/Yaru/scalable/apps/software-properties-symbolic.svg
Terminal=false
Categories=Privacy;
Keywords=secure;security;privacy;private;web;browser;
StartupNotify=true
