[Desktop Entry]
Name=SBK REPL
Type=Application
Comment=Split Bitcoin Key REPL
Categories=Finance;Network
Path=/usr/local/sbk/
Exec=sh -c "sbk repl"
Terminal=true
StartupNotify=true
Icon=sbk
